<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0">
  <assemblies>
    <add assembly="Advanced.CMS.Forms" />
  </assemblies>

  <clientResources>
  </clientResources>

  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="Advanced.CMS.Forms" />
    </requiredResources>
  </clientModule>

  <dojo>
    <paths>
      <add name="advanced-cms-forms" path="Scripts" />
    </paths>
 </dojo>
</module>
